#header{
    background-color: greenyellow;
    text-align: center;
}
bOdy{
    background-color: bisque;
}
h1{
    color: black;
}
blockquote{
    background-color: gold;
    border: 2px dashed yellow;
}
.nav{
    text-align: center;
}
.nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav ul li{
    margin:0em 1em;
}
.gambar{
    text-align: center;
}
.jawa{
    color: blue;
    font-size: 50px;
    font-weight: bold;
}
.koleksi{
    text-align: center;
    background-color: gray;
}
.koleksi img{
    width: 250px;
}
.promo h2{
    color: blue;
    text-align: center;
}
.promo h3{
    border: 1px dashed blue;
    color: blue;
    text-align: center;
    font-weight: bold;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.promo ol li{
    color: blue;
    text-align: center;
    list-style: none;
}
.promo h4{
    color: blue;
    text-align: center; 
}












